# Server

PORT="<value>"

# Database

DATABASE_URL="<value>"

# Docker
POSTGRES_USER="<value>"
POSTGRES_PASSWORD="<value>"
POSTGRES_DB="<value>"

# JWT
JWT_SECRET="<value>"

# GOOGLE BOOK API
GOOGLE_API_KEY="<value>"

#AWS
AWS_ACCESS_KEY_ID="<value>"
AWS_SECRET_ACCESS_KEY="<value>"
AWS_REGION="<value>"
BUCKET_NAME="<value>"
